<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MasterMind</title>
  </head>
  <body>
    <h1>Juego del MasterMind</h1>
    <p>Debe adivinar un número de 4 cifras distintas. 
    En cada intento, le informamos de cuantas cifras ha acertado y si esas cifras están en la posición correcta.</p>
    <p>Ejemplo: Si el número secreto es 1234 y su intento es 1240 indicaremos: 2 bien colocados, 1 mal colocado.
    Tiene un número de aciertos limitado </p>
    <br/>
    
    <form method="post" th:action="@{/nuevoJuego}">
      <label for="intentos">Cantidad de intentos:</label>
      <input type="number" id="intentos" name="intentos" min="1" required>
      
      <label for="digitos">Cantidad de dígitos:</label>
      <select id="digitos" name="digitos" required>
          <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="5">5</option>
          <option value="6">6</option>
      </select>
      
      <button type="submit">Jugar</button>
  </form>
  </body>
</html>